@font-face 
{
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
 }

h1, h2, h3, h4, h5, h6, p 
{
  margin: 0;
  padding: 0;
  color: #0C2242;
}

body 
{
  margin: 5%;
  padding: 0%;
}

h3
{
  font-size: 28px;
  font-weight: bold;
}

h4
{
  font-size: 20px;
  font-weight: bold;
}

h5
{
  font-size: 20px;
}

h6
{
  font-size: 20px;
  font-weight: lighter;
}

p
{
  font-size: 16px;
  font-weight: lighter;
}

.content__title
{
  margin-top: 66px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.content__title__quantity
{
  display: flex;
}

.content__title__quantity__right
{
  padding-left: 20px;
}

.content__main
{
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.content__main__container
{
  display: flex;
  align-items: center;
}

.content__main__price
{
  display: flex;
}

.content__main__price__right
{
  padding-left: 20px;
}