@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");
.loader {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F3F2F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: disparition 2.5s; }
  .loader .inside {
    position: fixed;
    width: 40px;
    height: 40px;
    border-right: 5px solid #B7A9A6;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #F3F2F0;
    border-left: 5px solid #F3F2F0;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    animation: rotation 950ms ease-in-out;
    animation-iteration-count: infinite; }
  .loader .center {
    position: fixed;
    width: 60px;
    height: 60px;
    border-right: 5px solid #F3F2F0;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #293A52;
    border-left: 5px solid #F3F2F0;
    border-radius: 35px;
    animation: rotation 1000ms ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    color: #F3F2F0; }
  .loader .outside {
    position: fixed;
    width: 80px;
    height: 80px;
    border-right: 5px solid #B7A9A6;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #B7A9A6;
    border-left: 5px solid #F3F2F0;
    border-radius: 50px;
    animation: rotation 1000ms ease-in-out;
    animation-iteration-count: infinite;
    color: #F3F2F0; }

@keyframes rotation {
  from {
    transform: rotate(0turn); }
  to {
    transform: rotate(1turn); } }
@keyframes disparition {
  0% {
    z-index: 999;
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    z-index: -1;
    opacity: 0; } }
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #293A52; }

html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

body {
  background-color: #F3F2F0;
  margin: 0;
  padding: 0%; }

h1 {
  color: #293A52;
  margin: auto;
  font-size: 46px;
  font-family: "clearSans";
  font-weight: 100; }

h3 {
  font-size: 28px;
  font-weight: bold;
  color: #000000; }

h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000000; }

h5 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal; }

h6 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

a {
  color: #293A52;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px; }

a:hover {
  color: #B7A9A6; }

#progress {
  background-color: #B7A9A6;
  height: 3px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* Peut être important si vous avez un menu en position fixe */ }

/**
  Début section header
*/
header {
  height: 300px;
  background-color: #ACCFC8;
  position: sticky;
  top: -240px; }

.back {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 5px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  display: flex; }

.fa-chevron-left {
  margin: auto;
  color: #293A52;
  font-size: 30px; }

.title {
  padding: 0 5%;
  height: 240px;
  display: flex; }

.list {
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%; }
  .list__element {
    padding: 0 15px;
    max-height: 60px; }

.list::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
  height: 6px; }

.list::-webkit-scrollbar-track {
  background: #ACCFC8;
  /* color of the tracking area */ }

.list::-webkit-scrollbar-thumb {
  background-color: #293A52;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  width: 10px;
  border: 1px solid #ACCFC8;
  /* creates padding around scroll thumb */
  margin: 0 5px; }

.anchor {
  height: 0%;
  width: 100%; }

/**
  Fin de la section Header
*/
/**
  Début section corps
*/
main {
  margin: 0 5%; }

.content__title {
  background-color: #B7A9A6;
  padding: 3px 10px;
  margin-top: 66px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: 'Lato', sans-serif; }
  .content__title__quantity {
    display: flex; }
    .content__title__quantity__right {
      padding-left: 20px; }
.content__line {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #6582AA; }
.content__main {
  display: flex;
  margin: 15px 0 10px 0;
  justify-content: space-between; }
  .content__main__container__details span {
    font-style: italic; }
  .content__main__container__name--group {
    font-weight: 100 !important; }
  .content__main__container__quantity {
    margin: 5px; }
  .content__main__price {
    display: flex; }
    .content__main__price__right {
      padding-left: 20px; }

.flag {
  width: 16px; }

/**
  Fin de la section corps
*/
/**
  Début de la partie footer
*/
.infos {
  margin-top: 66px;
  background-color: #ACCFC8;
  padding: 5%; }
  .infos__content__plus {
    color: #293A52;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center; }
  .infos__droits__plus {
    color: #293A52;
    font-size: 12px;
    margin-top: 25px;
    text-align: center; }

/**
  Fin de la partie footer
*/

/*# sourceMappingURL=carte.css.map */
