@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("ttf"); }
@font-face {
  font-family: "clearSans";
  src: url("/fonts/clear-sans/ClearSans-Medium.ttf") format("ttf"); }
.loader {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F3F2F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: disparition 2.5s; }
  .loader .inside {
    position: fixed;
    width: 40px;
    height: 40px;
    border-right: 5px solid #B7A9A6;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #F3F2F0;
    border-left: 5px solid #F3F2F0;
    border-radius: 30px;
    border-bottom-left-radius: 30px;
    animation: rotation 950ms ease-in-out;
    animation-iteration-count: infinite; }
  .loader .center {
    position: fixed;
    width: 60px;
    height: 60px;
    border-right: 5px solid #F3F2F0;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #293A52;
    border-left: 5px solid #F3F2F0;
    border-radius: 35px;
    animation: rotation 1000ms ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    color: #F3F2F0; }
  .loader .outside {
    position: fixed;
    width: 80px;
    height: 80px;
    border-right: 5px solid #B7A9A6;
    border-top: 5px solid #F3F2F0;
    border-bottom: 5px solid #B7A9A6;
    border-left: 5px solid #F3F2F0;
    border-radius: 50px;
    animation: rotation 1000ms ease-in-out;
    animation-iteration-count: infinite;
    color: #F3F2F0; }

@keyframes rotation {
  from {
    transform: rotate(0turn); }
  to {
    transform: rotate(1turn); } }
@keyframes disparition {
  0% {
    z-index: 999;
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    z-index: -1;
    opacity: 0; } }
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  background-color: #F3F2F0;
  margin: 0;
  height: 100vh;
  overflow: hidden; }

h1 {
  color: #293A52;
  font-size: 50px;
  font-family: "clearSans";
  font-weight: 100; }

h3 {
  color: #293A52;
  font-size: 28px;
  font-weight: lighter;
  font-family: "clearsans"; }

a {
  color: #FFFFFF;
  font-family: "Lato";
  text-decoration: none;
  font-weight: 100;
  font-size: 24px;
  text-decoration: none; }

header {
  height: 35vh;
  position: relative;
  display: flex;
  padding: 0 5%; }

.content {
  margin: auto 0; }
  .content__titles {
    width: fit-content;
    margin-bottom: 10%; }
    .content__titles__line {
      height: 3px;
      width: 70%;
      background-color: #B7A9A6; }

main {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

button {
  font-size: 20px;
  width: 250px;
  height: 60px;
  color: #F3F2F0;
  border: #B7A9A6 solid 2px;
  background-color: #293A52; }

button:hover {
  color: #293A52;
  border: #293A52 solid 2px;
  background-color: #F3F2F0; }

.back {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  max-height: 330px;
  overflow: hidden; }
  .back__image {
    width: 120%;
    position: relative;
    left: -10%;
    bottom: -100px;
    opacity: 0.6; }

/*# sourceMappingURL=home.css.map */
