@import "../base/fonts.scss";
@import "../components/loading.scss";

$primary-color: #F5EEDE;
$secondary-color: #ACCFC8;
$tertiary-color: #6582AA;
$fourth-color: #B7A9A6;
$text-color: #000000;
$text-header-color: #293A52;

h1, h2, h3, h4, h5, h6, p
{
  margin: 0;
  padding: 0;
  color: $text-header-color;
}

html
{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body 
{
  background-color: $primary-color;
  margin: 0;
  padding: 0%;
}

h1
{
  color: $text-header-color;
  margin: auto;
  font-size: 46px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h3
{
  font-size: 28px;
  font-weight: 500;
  color: $text-header-color;
}

h4
{
  font-size: 20px;
  font-weight: 500;
  color: $text-header-color;
}

h5
{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h6
{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p
{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a
{
  color: $text-header-color;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
}

a:hover
{
    color: $fourth-color;
}

#progress{
	background-color: $fourth-color;
	height: 3px;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; /* Peut être important si vous avez un menu en position fixe */
}

/**
  Début section header
*/

header
{
  height: 300px;
  background-color: $secondary-color;
  position: sticky;
  top: -240px;
}

.back
{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 5px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  display: flex;
}

.fa-chevron-left
{
  margin: auto;
  color: $text-header-color;
  font-size: 30px;
}

.title
{
  padding: 0 5%;
  height: 240px;
  display: flex;
}

.list
{
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  &__element{
    padding: 0 15px;
    max-height: 60px;
  }
}

.list::-webkit-scrollbar 
{
    width: 0px; /* width of the entire scrollbar */
    height: 6px;
}
  
.list::-webkit-scrollbar-track 
{
    background: $secondary-color; /* color of the tracking area */
}
  
.list::-webkit-scrollbar-thumb 
{
    background-color: $text-header-color; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    width: 10px;
    border: 1px solid $secondary-color; /* creates padding around scroll thumb */
    margin: 0 5px;
}

.anchor
{
  height: 0%;
  width: 100%;
}

/**
  Fin de la section Header
*/


/**
  Début section corps
*/

main
{
    margin: 0 5%;
}

.content
{
  &__title
  {
    //background-color: $fourth-color;
    padding: 3px 0px;
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Lato', sans-serif;
    border-bottom: $fourth-color solid 2px;
    border-bottom-width: 0cm;
    &__line{
      height: 3px;
      width: 30%;
      background-color: $fourth-color;
      margin-bottom: 25px;
    }
    &__quantity
    {
      display: flex;
      &__right
      {
        padding-left: 20px;
      }
    }
  }
  &__line
  {
    display: unset;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: $tertiary-color;
  }
  &__main
  {
    display: flex;
    margin: 15px 0 10px 0;
    justify-content: space-between;
    &__container
    {
      &--special
      {
        display: flex;
        align-items: center;
      }
        &__details
        {
            & span
            {
                font-style: italic;
            }
        }
      &__name
      {
        & span
        {
          font-style: italic;
          font-weight: 100;
          font-size: medium;
        }
        &--group
        {
          font-weight: 100!important;
        }
      }
      &__quantity
      {
        margin: 5px;
      }
    }
    &__price
    {
      display: flex;
      &__right
      {
        padding-left: 20px;
      }
    }
  }
}

.flag
{
  width: 16px;
}

/**
  Fin de la section corps
*/

/**
  Début de la partie footer
*/

.infos
{
  margin-top: 66px;
  background-color: $secondary-color;
  padding: 5%;
  &__content
  {
    &__plus
    {
      color: $text-header-color;
      font-size: 12px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__droits
  {
    &__plus
    {
      color: $text-header-color;
      font-size: 12px;
      margin-top: 25px;
      text-align: center;
    }
  }
}

/**
  Fin de la partie footer
*/